html {
  height: 100vh;
}

body {
  font-family: "Roboto", Arial !important;
  background-color: hsl(0deg, 0%, 93%);
  margin: 0;
  padding: 0;
}

.weather {
  width: 18.75rem;
  border-radius: 0.37rem;
  box-shadow: 0.6rem -0.12rem 1.25rem 0.12rem rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: #333;
  margin: 1.25rem auto 0 auto;
  padding: 0 1.25rem 1.25rem 1.25rem;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.description {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1;
  margin: 0;
}

.top-icon {
  width: 6.25rem;
}

.temperature {
  font-weight: 600;
  font-size: 4.38rem;
  width: auto;
  letter-spacing: -0.3rem;
  margin: 0.6rem 0;
}

.details {
  width: 100%;
  padding-left: 1.25rem;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 0.75rem;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 0.75rem;
}

.parameter-label--details {
  margin-bottom: 0.6rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.daily-item {
  background-color: #f5f5f5;
  border-radius: 1rem;
  height: 2.5rem;
  margin: 0.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.3rem 1.25rem;
}

.icon-small {
  width: 2.5rem;
}

.day {
  color: #212121;
  flex: 1 1;
  font-weight: 600;
  margin-left: 1rem;
}

.description {
  flex: 1 1;
  margin-right: 1rem;
  text-align: right;
}

.min-max {
  color: #757575;
}

.daily-details-grid {
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: 1rem;
  row-gap: 0;
  column-gap: 5rem;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 0.3rem 1rem;
}

.daily-details-grid-item {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
}

.label-description {
  color: #757575;
}

.label-value {
  color: #212121;
}

.container {
  max-width: 67.5rem;
  margin: 2rem auto;
}
